{% extends "layout.html" %}


{% block content %}
  <h3>About this Demo</h3>
  <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
  <br>
  <p>
  This is a very simple sample applicaiton developed using "Cloud Native"
  design method to be used for demonstration and education purposes.<br>
  <br>
  Full details on this demo application can be found at <a href="http://www.github.com/hpreston/myhero_demo" target="_blank">MyHero-Demo on GitHub</a>
    <br>
  <div align="center"><a href="static/myhero-arch-full-v2.png" target="_blank"><img src="static/myhero-arch-full-v2.png" width="75%"></a> </div>
      {% block footer %}
    {{ super() }}
  {% endblock %}
{% endblock %}